@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
    font-family: Montserrat, cursive;
    color: #9fa8a3;
    height: 100px;
    text-align: center;
    background-color: #c5d5cb;
    border-radius: 25px;
}

.parentContainer {
    margin-top: 50px;
    margin-bottom: 150px;
    background-color: #c5d5cb;
    border-radius: 25px;
    display: flex;
}

.right-image {
    position: absolute;
    right: 0px;
    top: 10%;
    padding: 50px;
    margin:50px;
    border: solid 2px #c5d5cb;;
}

.right-image-low {
    position: absolute;
    right: 0px;
    top: 115%;
    padding: 50px;
    margin: 50px;
    border: solid 2px #c5d5cb;
}

.left-image {
    position: absolute;
    left: 0px;
    top: 60%;
    padding: 50px;
    margin:50px;
    border: solid 2px #c5d5cb;;
}

.right-description {
    position: absolute;
    right: 40px;
    width: 50%;
    padding-right: 5rem;
}

.left-description {
    width: 45%;
    position: absolute;
    left: 60px;
    padding-left: 5rem;
}

.aboutContainer {
    margin: 50px 10px 50px 10px;
    color: #9fa8a3;
    background-color: #e3e0cf;
    font-family: Montserrat, cursive;
    height: 250px;
}


.childContainer {
    margin: 50px 10px 50px 10px;
    text-align: center;
    color: #9fa8a3;
    background-color: #e3e0cf;
    font-family: Montserrat, cursive;
    height: 250px;
    width: 33%;
}

.aboutImageContainer {
    margin: 50px 10px 50px 10px;
    width: 33%;
    height: 250px;
}

.imgContainer {
    margin: 50px 10px 50px 10px;
}

.link {
    text-align: center;
    bottom: 0;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    position: fixed;
    background-color: #f1f1ef;
    font-size: small;
    font-family: Montserrat, cursive;
}
